#options {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 450px;
}

#signup {
  margin-bottom: 40px;
  width: 100%;
}

#accounts {
  margin-bottom: 35px;
}
