.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--app-block-padding);
  margin: 20px 70px;
}
.heading {
  color: #ff5733;
  font-size: 15px;
}
.image {
  display: flex;
  gap: 15px;
}
.lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 60px;
}

.lists li a {
  text-decoration: none;
  color: black;
}
.home a {
  color: #ff5733;
  text-decoration: underline;
}
.boost {
  font-family: Exo;
  color: #002f5f;
  text-align: center;
  font-family: Exo;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
}
.paragraph {
  color: #4b4b4b;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.boost {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.section2 {
  text-align: center;
}
.span1 {
  color: #ff5733;
}
.button {
  gap: 50px;
  margin-top: 80px;
}
.btn {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 250px;
  margin-top: 40px;
}
