.boostprofile {
  text-align: center;
  margin-top: 144px;
}
.trendsphere {
  color: #002f5f;
  font-family: 'Exo', sans-serif;
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
  display: inline-block;
  border-bottom: 1.5px solid #002f5f;
  margin-bottom: 40px;
}
.p2 {
  color: #4b4b4b;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 88px;
}

.about h3 {
  font-size: 32px;
  font-family: 'Exo', sans-serif;
  font-weight: 600;
  line-height: 140%;
  color: #002f5f;
  margin-bottom: 20px;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

@media only screen and (max-width: 1024px) {
  .trendsphere {
    font-size: 28px;
  }
  .p2 {
    font-size: 15px;
    padding: 5px 25px;
  }
}
