.container {
  padding: 110px 100px 50px;
  min-height: 100dvh;

  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #ff5733; */
}

.goBack {
  width: 24px;
  display: inline-block;
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 34px;
  margin-bottom: 67px;
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.header h1 {
  font-family: "Exo" sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  margin-top: 40px;
  margin-bottom: 70px;
  color: #ff5733;
  font-family: "Montserrat";
}
