.container {
  padding: 110px 100px 50px;
  min-height: 100dvh;
}

.success {
  margin-top: 100px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  font-family: "Montserrat", sans-serif;
}

.goBack {
  width: 24px;
  display: inline-block;
  margin-bottom: 50px;
}

.heading {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
  color: #000;
  text-align: center;

  font-family: "Exo", sans-serif;
}

.para {
  width: 500px;
  color: #000;
  text-align: center;

  /* Caption 1 */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  /* font-family: "Montserrat"; */
}
