.container {
  padding: 150px;
  /* padding-top: 150px; */
  min-height: 100dvh;

  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.goBack {
  width: 24px;
  position: absolute;
  left: 100px;
  top: 110px;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 60px;

  /* color: #3f5579; */
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}

.header h1 {
  font-family: "Exo" sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 38.4px */
}

.form {
  /* padding-left: 200px; */
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
