.updated {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: #002f5f;
  margin-top: 100px;
  color: #fff;
  text-align: center;
  padding: 0 var(--app-block-padding);
}
.latest {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.news {
  font-family: Exo;
  font-size: 30px;
  font-weight: 600;
}
.inputbutton {
  background-color: #fff;
  padding: 5px;
  display: flex;
  gap: 10px;
  border-radius: 5px;
}
.email {
  border: none;
  outline: none;
  flex: 1;
}
.inputform {
  margin-bottom: 40px;
}
